.grid-container{/* background-color: blue; */

color: white;
text-align: center;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
gap: 10px;}

.item1{/*margin: 10px;*/
    gap: 10px;
background-color: red;
}
.item2{
   background-color: blueviolet;

width: 100%;
height: 100%; 
display: block;
object-fit: cover;
grid-column: 2/4;
grid-row: 1/3;  
/*object-fit: cover;*/
background-size: cover;
  background-position: center;
  /*background-image: url("neuro.png");*/

}

.item3{margin: 10px;
background-color: green;
}
.item4{
   /* width: 100%;
     height: 100%; */
    height: 100%;
    object-fit: cover;
}

.item5{margin: 10px;
background-color: gray;
grid-column: 3/6; /*se movió a esa posicion*/
grid-row: 3/4;

}